#!/bin/sh
exec /home/ubuntu/onecontactlink/internal-api/internal-api \
  -addr="localhost:4001" \
  -db-dsn='{{db_dsn}}' \
  -mailgun-domain='onecontact.link' \
  -mailgun-key='{{mailgun_key}}' \
  -mailgun-pubkey='{{mailgun_pubkey}}' \
  -token-key='{{link_token_key}}' 2>&1
