#!/bin/sh
exec /home/ubuntu/onecontactlink/internal-api/internal-api \
  -addr="localhost:4001"
  -db-dsn='{{db_dsn}}' \
  -mailgun-domain='out.onecontact.link' \
  -mailgun-key='{{mailgun_key}}' 2>&1
