#!/bin/sh
exec /home/ubuntu/onecontactlink/web/web -static-dir='/home/ubuntu/onecontactlink/web/static' -templates-dir='/home/ubuntu/onecontactlink/web/templates' --recaptcha-secret="{{recaptcha_secret}}" 2>&1
