#!/bin/sh
exec /home/ubuntu/onecontactlink/web/web \
  -addr='localhost:4003' \
  -static-dir='/home/ubuntu/onecontactlink/web/static' \
  -templates-dir='/home/ubuntu/onecontactlink/web/templates' \
  -recaptcha-secret="{{recaptcha_secret}}" \
  -token-key='{{link_token_key}}' 2>&1
