{{- define "footer" -}}

  </div> <!-- container -->

  <div class="footer">
    <p>
      Copyright &copy; 2016 OneContact.Link.
      <br/>
      We're <a href="https://github.com/Preetam/onecontactlink">open source</a>!
    </p>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://code.jquery.com/jquery-3.1.0.slim.min.js" integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
{{ if .App }}
    <script src="/js/mithril.min.js"></script>
    <script src="/js/app.min.js"></script>
{{ end }}
</html>
{{- end -}}
