{{- define "footer" -}}

  </div> <!-- container -->

  <div class="footer">
    <p>
      Copyright &copy; 2016 OneContact.Link.
      <br/>
      We're <a href="https://github.com/Preetam/onecontactlink">open source</a>!
    </p>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
<script src='https://www.google.com/recaptcha/api.js'></script>
{{ if .App }}
    <script src="/js/mithril.min.js"></script>
    <script src="/js/app.js"></script>
{{ end }}
</html>
{{- end -}}
