{{ define "footer" }}
  </div> <!-- container -->

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
<script src='https://www.google.com/recaptcha/api.js'></script>
</html>
{{ end }}
