{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>OneContact.Link</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

  {{ template "nav" . }}

  {{ if .Info }}
    <div class="row">
      <div class="twelve columns">
        <div class='message-bubble info noselect'>
          Info: {{ .Info }}
        </div>
      </div>
    </div>
  {{ end }}

  {{ if .Success }}
    <div class="row">
      <div class="twelve columns">
        <div class='message-bubble success noselect'>
          Success: {{ .Success }}
        </div>
      </div>
    </div>
  {{ end }}

  {{ if .Warning }}
    <div class="row">
      <div class="twelve columns">
        <div class='message-bubble warning noselect'>
          Warning: {{ .Warning }}
        </div>
      </div>
    </div>
  {{ end }}

  {{ if .Error }}
    <div class="row">
      <div class="twelve columns">
        <div class='message-bubble error noselect'>
          Error: {{ .Error }}
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
