{{- define "header" -}}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>OneContact.Link</title>
  <link rel="icon" type="image/png" href="/img/icon.png" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.min.css">
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

  {{- template "nav" . -}}

  {{- if .Info -}}
    <div class="row">
      <div class="twelve columns">
        <div class='message-bubble info noselect'>
          <span>Info: </span>{{- .Info -}}
        </div>
      </div>
    </div>
  {{- end -}}

  {{- if .Success -}}
    <div class="row">
      <div class="twelve columns">
        <div class='message-bubble success noselect'>
          <span>Success: </span>{{- .Success -}}
        </div>
      </div>
    </div>
  {{- end -}}

  {{- if .Warning -}}
    <div class="row">
      <div class="twelve columns">
        <div class='message-bubble warning noselect'>
          <span>Warning: </span>{{- .Warning -}}
        </div>
      </div>
    </div>
  {{- end -}}

  {{- if .Error -}}
    <div class="row">
      <div class="twelve columns">
        <div class='message-bubble error noselect'>
          <span>Error: </span>{{- .Error -}}
        </div>
      </div>
    </div>
  {{- end -}}
{{- end -}}
