{{ define "index" }}

{{ template "header" }}
<div class="row" style="margin-top: 10%">
  <div class="one-half column">
  <h1 class='brand'><a href='#'>OneContact.Link</a></h1>
  </div>
  <div class="one-half column">
    <ul class='navbar'>
      <li class='navbar-item'><a href='#'>Home</a></li>
    </ul>
  </div>
</div>
<div class="row" style="margin: 6rem 0">
  <div class="twelve columns">
    <h4 style="text-align: center; font-weight: normal; font-size: 4rem;">Multiple Email Addresses, One Link.</h4>
    <p style="text-align: center; font-size: 2rem;">Changing companies or moving to a new email address?<br/>We'll let your contacts know how to reach you.</p>
  </div>
</div>
<hr />
<div class="row">
  <div class="one-half column">
    <h4>How it works</h4>
    <ol>
      <li>Sign up and receive your OneContact.Link.</li>
      <li>Place the link in your email signatures, business cards, etc.</li>
      <li>People visit your OneContact.Link and request your contact information.</li>
      <li>We'll send you an email to approve or reject requests.</li>
    </ol>
  </div>
  <div class="one-half column">
    <h4>Sign up</h4>
    <p>We're not ready for sign ups yet, but stay tuned!</p>
  </div>
</div>
{{ template "footer" }}

{{ end }}
