{{ define "invalid" }}

{{ template "header" . }}
<div class="row">
  <div class="twelve columns">
  	<h2>Oops.</h2>

    <p>Looks like you hit an error. Click <a href="/">here</a> to go back to the home page.</p>
  </div>
</div>
{{ template "footer" . }}

{{ end }}
