{{ define "nav" }}
<div class="row" style="margin-top: 10%">
  <div class="one-half column">
  <h1 class='brand'><a href='/'>OneContact.Link</a></h1>
  </div>
  <div class="one-half column">
    <ul class='navbar'>
      <li class='navbar-item'><a href='/'>Home</a></li>
    </ul>
  </div>
</div>
{{ end }}
