{{- define "signup" -}}

{{- template "header" . -}}
<div class="row">
  <div class="col-xs-12">
    <h2>Sign up</h2>
    <p>Please fill out the form to create an account.</p>
    <form method="POST">
      <div class="row">
        <div class="col-md-6">
          <label for="nameInput">Your name</label>
          <input class="u-full-width" type="text" placeholder="Richard Hendricks" name="name">
        </div>
        <div class="col-md-6">
          <label for="exampleEmailInput">Your email</label>
          <input class="u-full-width" type="email" placeholder="test@mailbox.com" name="email">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="g-recaptcha" data-sitekey="6Le3rhoTAAAAAK6pdo1YQSXzhnv7TlLjqtcTOlHU"
            style="margin-bottom: 1em">
          </div>
          <input class="btn btn-primary" type="submit" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>
{{- template "footer" . -}}

{{- end -}}
